<!--Defining the Customer model-->
<!--Was changed to CustomerDto to access the customers data-->
@model TravelServicesDirectoryFinal.Models.CustomerDto

@{
    ViewBag.Title = "Customer Details";
}

<h2>Details</h2>

<!--Link to to back to the customers list page-->
<a class="btn btn-success my-3" href="/Customer/List">Go back to Customers list</a>

<div class="container mt-2 mb-5">
    <div class="card w-50">
        <h2 class="card-header"><span class="fw-bold">@Model.Firstname @Model.Lastname</span></h2>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <p class="card-title text-danger fs-3 pb-3"><span class="fw-bold">D.O.B:</span>@Model.DOB</p>
                </div>

                <!--Delete Customer-->
                <div class="col-md-2 d-flex justify-content-end align-items-center">
                    <a href="/Customer/DeleteConfirm/@Model.CustomerId" class="btn btn-danger">Delete</a>
                </div>

                <!--Update Customer-->
                <div class="col-md-2 d-flex justify-content-start align-items-center">
                    <a href="/Customer/Edit/@Model.CustomerId" class="btn btn-primary">Update</a>
                </div>
            </div>
            <p class="card-text"><span class="fw-bold">Address:</span> @Model.Address</p>
            <p class="card-text"><span class="fw-bold">Email:</span> @Model.Email</p>
        </div>
    </div>
</div>